.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.inner_div {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 10px;
}
