body {

}

.sidebar {
	height: 100%;
	background-color: #e6caca;
}

.main-site {
	top: 50px;
	margin-left: 232px;
	flex-grow: 1;
}

.main-content {
	position: relative;
	top: 40px;
	left: 5px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 1660px;
}

.header {
	position: fixed;
	top: 0;
	width: 1660px;
}
