.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: lightblue;
  margin: 5px;
  border-radius: 20px;
  width: 100%;
}
.grid_item {
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
}

.grid_item::after {
	content: '';
	position: absolute;
	top: 5px;
	right: 15px;
	bottom: 5px;
	width: 3px;
	background-color: lightsteelblue;
	border-radius: 2px;
}
